/* ================== global settings ================== */
:root {
    --movie-card-width: 200px;
    --movie-card-height: 300px;
    --movie-gallery-background: #24282f;
    --menu-font-color: #fff;
}
body {
    background: var(--movie-gallery-background);
    /*margin: 0 350px;*/
}
.stat-font {
    color: lightgray;
    font-size: 0.8em;
    font-family: 'Kanit', sans-serif;
    margin: .25rem;
}
header {
    margin-top: 20px;
}