/* ================== global settings ================== */
:root {
    --movie-card-width: 185px;
    --movie-card-height: 280px;
    --movie-gallery-background: #24282f;
    --font-color: #fff;
    --font-sm: 0.6em;
    --font-md: 0.8em;
    --font-lg: 1.3em;
}
body {
    background: var(--movie-gallery-background);
}
.stat-font {
    color: lightgray;
    font-size: 0.8em;
    font-family: 'Kanit', sans-serif;
    margin: .25rem;
}
header {
    margin-top: 20px;
}
.input-group-text {
    min-width: 160px;
}

/* ================== navbar-brand ================== */
.navbar-brand-bold, .navbar-brand-thin {
    font-family: 'Exo', sans-serif;
}
.navbar-brand-bold {
    font-weight: 900;
}
.navbar-brand-thin {
    font-weight: 200;
}

/* ================== back-to-top button ================== */
#back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
a#back-to-top {
    color: #484e58;
}
#back-to-top:hover {
    cursor: pointer;
    color: #808080;
    text-decoration: none;
}
#back-to-top:active {
    color: #555;
}
#back-to-top.show {
    opacity: 1;
    visibility: visible;
}