/* ================== global settings ================== */
:root {
    --movie-card-width: 185px;
    --movie-card-height: 280px;
    --movie-gallery-background: #24282f;
    --font-color: #fff;
}
body {
    background: var(--movie-gallery-background);
}
.stat-font {
    color: lightgray;
    font-size: 0.8em;
    font-family: 'Kanit', sans-serif;
    margin: .25rem;
}
header {
    margin-top: 20px;
}
.input-group-text {
    min-width: 160px;
}

/* ================== back-to-top button ================== */
#back-to-top {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
#back-to-top::after {
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}
#back-to-top:hover {
    cursor: pointer;
    background-color: #333;
    text-decoration: none;
}
#back-to-top:active {
    background-color: #555;
}
#back-to-top.show {
    opacity: 1;
    visibility: visible;
}