/* ================== global settings ================== */
:root {
    --movie-card-width: 200px;
    --movie-card-height: 300px;
    --movie-gallery-background: #24282f;
    --menu-font-color: #fff;
}
body {
    background: var(--movie-gallery-background);
    margin: 0 350px;
}
.stat-font {
    color: lightgray;
    font-size: 0.8em;
    font-family: 'Kanit', sans-serif;
    margin: .25rem;
}

/* ================== menu settings ================== */
.menu {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-areas: "caption menu-items";
}
.caption {
    grid-area: caption;
}
.nav-menu-items {
    grid-area: menu-items;
    justify-self: end;
}

a,
a:focus,
a:hover,
.caption {
    color: var(--menu-font-color);
}
.nav-menu-items .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    border-bottom: .25rem solid transparent;
}
.nav-menu-items .nav-link:hover,
.nav-menu-items .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}
.nav-menu-items .nav-link + .nav-link {
    margin-left: 1rem;
}
.nav-menu-items .active {
    color: var(--menu-font-color);
    border-bottom-color: var(--menu-font-color);
}