.list-group-item-success:hover {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}
.movie-location-list,
.form-check-label {
    color: var(--font-color);
}
.loader-hidden {
    display: none;
}
form.upload,
form.settings,
form.wishlist {
    border: solid 1px;
    padding: 10px;
}
form.upload,
form.wishlist {
    border-color: #007bff;
}
form.settings {
    border-color: #28a745;
}