<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <display-name>Movies</display-name>

    <context-param>
        <param-name>PARAMETER_ENCODING</param-name>
        <param-value>UTF-8</param-value>
    </context-param>

    <filter>
        <filter-name>GalleryRequest</filter-name>
        <filter-class>org.blaec.movies.filters.GalleryFilter
        </filter-class>
        <init-param>
            <param-name>LogFileName</param-name>
            <param-value>UserLog.txt</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>GalleryRequest</filter-name>
<!--        <url-pattern>*.do</url-pattern>-->
        <servlet-name>galleryServlet</servlet-name>
    </filter-mapping>

    <servlet>
        <servlet-name>galleryServlet</servlet-name>
        <servlet-class>org.blaec.movies.web.GalleryServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>galleryServlet</servlet-name>
        <url-pattern>/gallery</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>wishListServlet</servlet-name>
        <servlet-class>org.blaec.movies.web.WishListServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>wishListServlet</servlet-name>
        <url-pattern>/wishlist</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>uploadServlet</servlet-name>
        <servlet-class>org.blaec.movies.web.UploadServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>uploadServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>searchServlet</servlet-name>
        <servlet-class>org.blaec.movies.web.SearchServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>searchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
</web-app>
